<div class="border-bottom row justify-content-between p-4">
    <h1>Dojo Activity Center</h1>
    <div class="pt-3">
        <a asp-action="Home" asp-controller="Home" class="mr-4">Home</a>
        <a asp-action="Logout" asp-controller="Home">Logout</a>
    </div>
</div>