@model LoginUser

<form asp-action="Login" asp-controller="Home" method="POST" class="border col-5 p-3 h-100">
    <h3 class="mb-4">Login</h3>
    <div class="form-group row px-3">
        <label asp-for="LoginEmail" class="m-0"></label>
        <span asp-validation-for="LoginEmail" class="ml-2 text-danger"></span>
        <input asp-for="LoginEmail" class="form-control">
    </div>
    <div class="form-group row px-3">
        <label asp-for="LoginPassword" class="m-0"></label>
        <span asp-validation-for="LoginPassword" class="ml-2 text-danger"></span>
        <input asp-for="LoginPassword" class="form-control">
    </div>
    <div class="row px-3">
        <button type="submit" class="btn btn-secondary">Login</button>
    </div>
</form>