@{
    ViewData["Title"] = "Login/Register";
}

<main class="p-4">
    <h1>Welcome to the Dojo Activity Center</h1>
    <div class="row justify-content-around p-4">
        <partial name="RegisterPartial"/>
        <partial name="LoginPartial"/>
    </div>
</main>